<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="products-styles.css">
    <title>Products Page</title>
</head>
<body>
    <div id="nav-bar">
        <div>
            <img src="/panda.webp" id="logo">
        </div>
        <div>
            <h1>MANGA</h1>
        </div>
        <div id="login-icon">
            <img src="images/icons8-user-50.png" alt="login-icon" id="person">
            <div id="attribution">
                <a target="_blank" href="https://icons8.com/icon/7820/male-user">User</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
            </div>
        </div>
    </div>
    <div id="search-bar">
        <img id="search-icon" src="images/icons8-search-30.png">
        <input id="search" type="text" placeholder="Search...">
        <div id="att">
            <a target="_blank" href="https://icons8.com/icon/59878/search">Search</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
        </div>
    </div>
    <div id="flex-container">
         <!-- EJS for loop added here -->
    <% mangaList.forEach(function(manga) { %>

        <!-- <div id="flex-item"> -->
          
          <!-- Image ID and source dynamic with EJS -->
          <img id="<%= manga.id %>" src="<%= manga.image %>">
          
          <div id="title">
            
            <!-- Manga name dynamic with EJS -->  
            <b><%= manga.name %></b>
            
          </div>
        </div>
  
      <% }) %>
        
        <!-- <div id="flex-item"> -->
            <img id="naruto" src="images/naruto-wallpaper-naruto-wallpaper-hd.webp">
            <div id="title"><b>NARUTO</b></div>
        </div>
        <!-- <div id="flex-item"> -->
            <img id="bleach" src="images/bleach wallpaper.jpeg">
            <div id="title"><b>BLEACH</b></div>
        </div>
        <!-- <div id="flex-item"> -->
            <img id="op" src="images/one piece wallpaper.jpeg">
            <div id="title"><b>ONE PIECE</b></div>
        </div>
        <!-- <div id="flex-item"> -->
            <img id="fma" src="images/FMAB-I-made-FullmetalAlchemist-iphone-14-plus.jpeg">
            <div id="title"><b>FULL METAL ALCHEMIST</b></div>
        </div>
        <!-- <div id="flex-item"> -->
            <img id="orange" src="images/Orange_Manga.jpeg">
            <div id="title"><b>ORANGE</b></div>
        </div>
        <!-- <div id="flex-item"> -->
            <img id="kings" src="images/Kings_Game_Origin_Manga.jpeg">
            <div id="title"><b>KING'S GAME: ORIGIN</b></div>
        </div>
        <!-- <div id="flex-item"> -->
            <img id="gi" src="images/Genshin_Impact_Manga.jpeg">
            <div id="title"><b>GENSHIN IMPACT</b></div>
        </div>
        <!-- <div id="flex-item"> -->
            <img id="rest" src="images/Restaurant_to_Another_World_Manga.jpeg">
            <div id="long"><b>RESTAURANT TO ANOTHER WORLD</b></div>
        </div>
    </div>
</body>
</html>